<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href='{{ url_for("static", filename="style.css") }}'>
    <script src='{{ url_for("static", filename="script.js") }}' defer></script>
</head>
<body>
    <h1>A SAMPLE VERSION OF TODO APP</h1>
    <section>
        <aside>
            <h2>TODO LIST</h2>
            <form id="listForm">
                <label>Create List:</label>
                <input type="text" placeholder="A new List" id="listText" />
                <input type="submit" value="Create List" />
            </form>
            <ul id="listUl">
                {% for list in lists %}
                    <li>
                        <div>
                            <input type='checkbox' />
                            <a href="/lists/{{ list.id }}"> {{ list.name }}</a>
                        </div>
                        <div class="cancel-btn">&cross;</div>    
                    </li>
                {% endfor %}
            </ul>
        </aside>
        <main>
            <h2>TODO ITEMS</h2>
            <form id="form">
                <label>Create Task:</label>
                <input type="text" name="description" id="todo">
                <input type="submit" value="Create Task" />
            </form>
            <h4>{{ active_list.name }}</h4>
            <div class="hidden" id="err">Something went wrong</div>
            <ul id="todos">
                {% for d in todos %}
                <li>
                    <div>
                        <input data-id='{{ d.id }}' class="check-completed" type="checkbox" {% if d.completed %} checked {% endif %} />
                        <span>{{ d.description }}</span>
                    </div>
                    <div class="cancel-btn" data-id="{{ d.id }}">&cross;</div>    
                </li>
                {% endfor %}
            </ul>
        </main>
    </section>
</body>
</html>