<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <form id="form">
        <input type="text" name="description" id="todo">
        <input type="submit" value="Create" />
    </form>
    <div class="hidden" id="err">Something went wrong</div>
    <ul id="todos">
        {% for d in data %}
        <li>{{ d.description }}</li>
        {% endfor %}
    </ul>

    <script>
        const form = document.getElementById('form');
        const description = document.getElementById('todo');
        const todos = document.getElementById('todos');
        const err = document.getElementById('err');

        form.addEventListener('submit', async (e) => {
            e.preventDefault()
            try {
                const response = await fetch('/todos/create', {
                    method: 'POST',
                    body: JSON.stringify(
                        {description : description.value}
                    ),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
                const todo = await response.json();
                // console.log("data", todo);
                const listItem = document.createElement('Li');
                listItem.innerText = todo.description;
                todos.append(listItem);
                err.className = 'hidden'
                e.target.reset()
            } catch(error) {
                console.log(error);
                err.className = ''
            }
        })
    </script>
</body>
</html>