<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <style>
        * {
            /* margin: 0;
            padding: 0; */
            /* box-sizing: border-box; */
        }
        .hidden {
            display: none;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            width: 200px;
        }
        button {
            /* margin-left: 50px; */
            border: none;
            outline: none;
            color: red;
            float: right;
        }
    </style>
</head>
<body>
    <form id="form">
        <input type="text" name="description" id="todo">
        <input type="submit" value="Create" />
    </form>
    <div class="hidden" id="err">Something went wrong</div>
    <ul id="todos">
        {% for d in data %}
        <li><input data-id='{{ d.id }}' class="check-completed" type="checkbox" {% if d.completed %} checked {% endif %} /> {{ d.description }}
            <button class="cancel-btn" data-id="{{ d.id }}">&cross;</button>    
        </li>
        {% endfor %}
    </ul>

    <script>
        const form = document.getElementById('form');
        const description = document.getElementById('todo');
        const todos = document.getElementById('todos');
        const err = document.getElementById('err');
        const checkedList = document.querySelectorAll('.check-completed');
        const cancelBtns = document.querySelectorAll('.cancel-btn');

        for(let i = 0; i < cancelBtns.length; i++) {
            const btn = cancelBtns[i];
            btn.addEventListener('click', async (e) => {
                try {
                    const todoId = e.target.dataset.id;
                    response = await fetch(`/todos/${todoId}/delete-todo`, {
                        method: 'DELETE'
                    });
                } catch(error) {
                    console.log(error)
                }
            })
        }

        for(let i = 0; i < checkedList.length; i++) {
            const item = checkedList[i];
            item.addEventListener('change', async (e) => {
                try {
                    const newCompleted = e.target.checked;
                    const todoId = e.target.dataset.id;
                    const response = await fetch(`/todos/${todoId}/set-completed`, {
                    method: 'POST',
                    body: JSON.stringify({
                        completed: newCompleted
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                } catch (error) {
                    console.log(error)
                }
            })
        }

        form.addEventListener('submit', async (e) => {
            e.preventDefault()
            try {
                const response = await fetch('/todos/create', {
                    method: 'POST',
                    body: JSON.stringify(
                        {description : description.value}
                    ),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
                const todo = await response.json();
                const listItem = document.createElement('Li');
                const input = document.createElement('input');
                input.setAttribute('type', 'checkbox');
                listItem.append(input)
                listItem.append(todo.description)
                todos.append(listItem);
                err.className = 'hidden'
                e.target.reset()
            } catch(error) {
                console.log(error);
                err.className = ''
            }
        })
    </script>
</body>
</html>